*{
  margin: 0;
}
.mainbody {
  text-align: center;
  background-attachment: fixed;
  background-image: url('bck05.jpg');  
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  font-family: OCR A Std, monospace;
}
.btn {
  background-color: transparent;
  border: 5px solid #ffffff;
  border-radius:12px;
  color: yellow;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover{
  background-color: black;
  color: yellow;
}
