*{
  margin: 0;
}
.mainbody {
  text-align: center;
  background-attachment: fixed;
  background-image: url('bck04.jpg');  
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  font-family: monospace;
}
.btn {
  background-color: transparent;
  border: 5px solid #ff9900;
  border-radius:12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover{
  background-color: black;
  color: white;
}

button {
  background-color: transparent;
  border: 5px solid green;
  border-radius:12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover{
  background-color: black;
  color: white;
}


a {
  background-color: transparent;
  border: 5px solid green;
  border-radius:12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
}

a:hover{
  background-color: black;
  color: white;
}


input {
  background-color: transparent;
  border: 5px solid green;
  border-radius:12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
}

input:hover{
  background-color: black;
  color: white;
